/* 	Theme Name : Next Host
	Author : Redcheap Theme
	Author URL : http://www.rctheme.com
    Version : 1.0.0
    Created: 29 January 2019
*/

/* ======== Primary Color CSS Start ======== */

.background_primary {
	background-color: #ffac56;
}
.primary_text {
	color: #ffac56;
}
ul.powerful_list li:before {
	color: #ffac56;
}
hr {
	border-top: 3px solid #ffac56;
}
.btn_primary {
	background: #ffac56;
}
.top_bar ul li a:hover {
	border-color: #ffac56;
}
.navbar-bootsnipp {
	background-color: #ffac56;
}
.navbar-bootsnipp .navbar-nav > li > .dropdown-menu > li > a {
	border-left: 0px solid #ffac56;
}
.about_company .company_year {
	background: #ffac56;
}
.why_box .why_sep {
	background:#ffac56;
}
.why_box2:hover i, .why_box2:hover h4 {
	color:#ffac56;
}
.border_effect::before {
 border-bottom: 1px solid #ffac56;
 border-left: 1px solid #ffac56;
}
.border_effect::after {
 border-top: 1px solid #ffac56;
 border-right: 1px solid #ffac56;
}
.counter-hover:before {
	background: #ffac56;
}
.post-module .post-content .category {
	background: #ffac56;
}
.blog-date {
	background: #ffac56;
}
.accordian_main .accordion-section-title {
	border-left: 10px solid #ffac56;
}
.accordian_main .accordion-section-title.active, 
.accordion-section-title:hover {
	background-color: #ffac56;
}
.accordian_main .accordion-section-content {
	border: 1px solid #ffac56;
}
section.contact_form .form-control:focus {
    border-color: #ffac56;
}
.footer_top {
	background: #ffac56;
}
